.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .menu-left {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .menu-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }