<nav class="menu">
    <div class="menu-left">
        <!-- (click) passes input value to check if correct login -->
        <button type="button" class="add-button" (click)="goHome();">
            Home
        </button>

        <!-- (click) send to dashboard -->
        <button type="button" class="add-button" (click)="goDashboard();">
            Dashboard
        </button>

        <!-- (click) send to store -->
        <button type="button" class="add-button" (click)="goStore();">
        Store
        </button>

        <!-- (click) send to admin home -->
        <button *ngIf="isAdmin" type="button" class="add-button" (click)="goAdmin();">
            Manage Store
        </button>
    </div>
    <div class="menu-right">
        <!-- (click) show cart -->
        <button type="button" class="add-button cart-button" (click)="toggleCart();">
            Cart
        </button>
        <div class="sidebar cart-sidebar" *ngIf="showSidebar">
            <button class="close-button" (click)="toggleCart()">Close</button>
            <app-cart></app-cart>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>