<nav>
<!-- (click) passes input value to check if correct login -->
<button type="button" class="add-button" (click)="goHome();">
Home
</button>

<!-- (click) send to dashboard -->
<button type="button" class="add-button" (click)="goDashboard();">
Dashboard
</button>

<!-- (click) send to store -->
<button type="button" class="add-button" (click)="goStore();">
    Store
</button>

<!-- (click) send to admin home -->
<button *ngIf="isAdmin" type="button" class="add-button" (click)="goAdmin();">
Manage Store
</button>

</nav>
<br>
<router-outlet></router-outlet>