<div *ngIf="ingredient">
    <h2>Edit Ingredient: {{ingredient?.name}}</h2>
  
    <div>
      <label for="name">Name:</label>
      <input type="text" [(ngModel)]="ingredient.name" name="name" required>
    </div>

    <div>
      <label>Type:</label>
      <input type="radio" [(ngModel)]="ingredient.type" name="type" value="Bean" required>Bean
      <input type="radio" [(ngModel)]="ingredient.type" name="type" value="Leaf" required>Leaf
    </div>
  
    <div>
      <label for="description">Description:</label>
      <textarea [(ngModel)]="ingredient.description" name="description"></textarea>
    </div>
  
    <div>
      <label for="price">Price:</label>
      <input type="number" [(ngModel)]="ingredient.price" name="price" required>
    </div>
  
    <div>
      <label for="quantity">Quantity:</label>
      <input type="number" [(ngModel)]="ingredient.volume" name="volume" required>
    </div>
  
    <button (click)="saveIngredient();">Save Ingredient</button>

    <button (click)="deleteIngredient();">Delete Ingredient</button>
  </div>