<div class="center">
    <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search Users">
  </div>
  <table>
    <thead>
      <tr>
        <th (click)="sort('email')">Email {{sortOrder == 'email' ? (sortReverse ? '↑' : '↓') : ''}}</th>
        <th (click)="sort('address')">Address {{sortOrder == 'address' ? (sortReverse ? '↑' : '↓') : ''}}</th>
        <th (click)="sort('products')">Products {{sortOrder == 'products' ? (sortReverse ? '↑' : '↓') : ''}}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.email}}</td>
        <td>{{order.address}}</td>
        <td>
            <div *ngFor="let product of order.products | keyvalue">
                Key: {{product.key}}, value: {{product.value}}
            </div>
        </td>
        <td>
          <button (click)="changeFullfilled(order)">
            {{ orderView ? 'Fulfill' : 'Unfulfill' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <button (click)="switch()">
    {{ orderView ? 'Fulfilled Orders' : 'Unfulfilled Orders' }}
  </button>
  <button (click)="test()">
    Create Order
  </button>