<div *ngIf="product">
    <h2>{{product.name | uppercase}} Details</h2>
    <div>id: {{product.id}}</div>
    <div>Name: {{product.name}}</div>
    <div>Type: {{product.type}}</div>
    <div>Ingredient list (ingredient proportion):</div>
    <!--
    <div *ngFor="let entry of product.ingredients | keyvalue">
        -- <input id="ingredient-name" [(ngModel)]="entry.key" placeholder="ingredient name">
        <input id="ingredient-volume" [(ngModel)]="entry.value" placeholder="ingredient volume">
    </div>
-->
    <li *ngFor="let entry of product.ingredients | keyvalue">

        -- <input id="ingredient-name" [ngModel]="entry.key" placeholder="ingredient name"
            (ngModelChange)="product.ingredients.set(entry.key, $event)">
        <input id="ingredient-volume" [(ngModel)]="entry.value" placeholder="ingredient volume">

    </li>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
</div>